@media screen and (min-width: 800px) {
    .info-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
    .header-content {
        display: flex;
        align-items: center;
    }
    .logo {
        width: 60px;
        height: auto;
    }
     #DarkToggle{
        font-size: 1.5rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        position: relative;
        top: -10px;
        left: 30px;
        z-index: 1000;
      
    }

    
    .navigation a{
        border-bottom:3px solid transparent;  /* prevents twitch */
        border-left:none; padding:.9rem 1rem; border-radius:8px; color: #fff;
        text-decoration: none;
    }
    .navigation a:hover{background:transparent; border-bottom-color:var(--border)}
    .navigation a.active{border-bottom-color:var(--brand); background:transparent}
        .site-name{
            font-size: 1.5rem;
            font-weight: 700;
            margin: 0 250px;
            display: inline-block;
            vertical-align: 0%;
            margin-left: 10px;
        }
    #menu{display:none}
    .navigation{border-top:none}
    .navigation ul{
        display: flex !important;            /* row */
        flex-wrap: wrap;
        justify-content: center;
        gap:.25rem; 
    }
    .navigation a{
        border-left:3px solid transparent;  /* prevents twitch */
        border-bottom:none; padding:.9rem 1rem; border-radius:8px; color: #fff;
        text-decoration: none;
    }
    .navigation a:hover{background:var(--card); border-left-color:var(--border)}
    main{padding:2rem}  
    footer {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
    }
}    